.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:$linear-gradient-2;
    
    h1{
      font-size: 2.5rem;
      color: $color-primary;
      font-weight: 500;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      padding: 2rem;
      background: $color-bg;

      max-width: 60rem;

      @include respond(tab-land){
        width: 80%;
      }

      @include respond(tab-port){
        width: 100%;
      }
  
      &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 60%;
  
        &__box {
          display: flex;
          flex-direction: column;
          margin-bottom: 0.5rem;
  
          label {
            font-size: 2rem;
            color: $color-white;
            margin-bottom: 0.5rem;
          }
  
          input {
            height: 4rem;
            padding: 0.5rem;
            border: 1px solid $color-primary;
            border-radius: 4px;
            font-size: 1.6rem;
            color: $color-white;
            background: $color-bg;
  
            &:focus {
              outline: none;
              border-color: $color-primary;
            }
          }
        }
  
        &__boxButton {
          display: flex;
          flex-direction: row;
          gap: 1rem;
  
          
        }
      }
    }
  }
  