.sidebar {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 13%;
  border-right: 1px solid $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $color-bg;
  display: flex;
  flex-direction: column;

  &__user {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $color-primary;
    span {
      font-size: 2rem;
      font-weight: 500;
      color: $color-white;
    }
  }

  &__search {
    padding-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
  }

  &__footer {
    border-top: 2px solid $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: 1rem;
    bottom: 0;
  }
}

.navigation {
  &__leftBar {
    &__options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin-top: 1rem;
      width: 100%;

      &__item {
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        height: 5rem;
        width: 100%;
        transition: all 2s ease-in-out;

        &:hover {
          background: $linear-gradient-2;
          color: $color-white;
        }

        &__icon {
          height: 2rem;
          margin-left: 1rem;
          width: 2rem;
          color: $color-white;
        }

        &__text {
          font-size: 1.5rem;
          font-weight: 800;
          white-space: nowrap;
          color: $color-white;
        }
      }
    }
  }
}
