.sidebar {
  min-height: 100vh;
  max-height: 100vh;
  width: 25%;
  max-width: 23rem;
  border-right: 1px solid $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $color-bg;
  display: flex;
  flex-direction: column;
  @include respond(tab-port) {
    display: none;
  }

  &__user {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $color-primary;
    span {
      font-size: 2rem;
      font-weight: 500;
      color: $color-white;
    }
  }

  &__search {
    padding-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
  }

  &__footer {
    border-top: 2px solid $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: 1rem;
    bottom: 0;
  }
}

.navigation {
  &__leftBar {
    &__options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin-top: 1rem;
      width: 100%;

      &__item {
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        height: 5rem;
        width: 100%;
        transition: all 2s ease-in-out;

        &:hover {
          background: $linear-gradient-2;
          color: $color-white;
        }

        &__icon {
          height: 2rem;
          margin-left: 1rem;
          width: 2rem;
          color: $color-white;
        }

        &__text {
          font-size: 1.5rem;
          font-weight: 800;
          white-space: nowrap;
          color: $color-white;
        }
      }
    }
  }
}

.navigation {
 

  &__mobile {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    max-width: 40rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 100;
    height: 6rem;

    background-color: transparent;


    @include respond(tab-port) {
      display: flex;
    }

    &__list {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      border: 2px solid $color-primary;
      border-radius: 10rem;
      background-color: $color-black;
      margin-bottom: 2rem;
      min-height: 6rem;

      li{
        color: $color-white;
        font-size: 2rem;
        text-decoration: none;
        border-radius: 50%;
  
  
    
      }

      a {
        color: $color-white;
        font-size: 2rem;
        text-decoration: none;
        border-radius: 50%;


        &:hover{
          color: $color-primary;
        }
     
      }

    
    }

 

  }
}

a.navigation__active{
  color: $color-primary;
}
