/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background-color: rgb(23, 23, 24);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  border-radius: 0.6rem;
  height: 1rem;
}

body {
  box-sizing: border-box;
  background-color: rgb(23, 23, 24);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: auto;
  margin-left: 20rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    margin-left: 0;
  }
}

img {
  max-height: 70%;
}

p {
  margin: 0;
}

/* Stilizare pentru dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  max-width: 15rem;
}
.dropdown span {
  font-size: 1.4rem;
  color: #ffffff;
  padding: 1rem;
}

.dropdown__header {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
}

.dropdown__options {
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.4rem;
  top: 100%;
  left: 0;
  background-color: rgb(23, 23, 24);
  border: 1px solid #369970;
  color: #67d1bd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown__options div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown__options div:hover {
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  color: #ffffff;
}

.dropdown select {
  appearance: none;
  padding-block: 8px;
  padding-left: 5px;
  cursor: pointer;
  background-color: rgb(23, 23, 24);
  color: #67d1bd;
  outline: 0;
  border: none;
}

.arrow__button.arrow__left {
  position: absolute;
  top: 10rem;
  left: 0rem;
  transform: translateX(-50%) rotate(90deg);
  color: #ffffff;
  background-color: #369970;
}
.arrow__button.arrow__left:hover {
  color: #ffffff;
  background-color: #369970;
}
.arrow__button.arrow__left .arrow__left-key {
  transform: rotate(-90deg);
}
.arrow__button.arrow__right {
  position: absolute;
  top: 10rem;
  right: 0rem;
  transform: translateX(50%) rotate(90deg);
  color: #ffffff;
  background-color: #369970;
}
.arrow__button.arrow__right:hover {
  color: #ffffff;
  background-color: #369970;
}
.arrow__button.arrow__right .arrow__right-key {
  transform: rotate(-90deg);
}

button {
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-family: "Red Hat Display", sans-serif;
}

.slick-next::before,
.slick-prev::before {
  color: #369970 !important;
  font-size: 2.5rem !important;
}

.slick-dots .slick-active button::before {
  color: #369970 !important;
  font-size: 1.6rem;
}

.slick-dots li button::before {
  color: #369970 !important;
  font-size: 1.6rem !important;
}

.slick-slide {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
}

.button__first {
  background-image: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin-right: 2rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
}
.button__first:hover {
  transform: scale(1.02);
  color: #ffffff;
}
.button__delete {
  background-image: linear-gradient(150deg, #f02f2f 0%, #eb8577 54%);
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin-right: 2rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
  border-radius: 5rem;
}
.button__delete:hover {
  transform: scale(1.02);
  color: #ffffff;
}
.button__firstSmall {
  max-width: 10rem;
  font-size: 1.5rem;
  padding: 1rem;
}
.button__second {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  color: #369970;
  border: 1px solid #369970;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  padding-inline: 2rem;
  transition: all 0.3s;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5rem;
}
.button__second:hover {
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  color: #ffffff;
}
.button__textFirst {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #3b3a3a;
  transition: all 0.3s;
  cursor: pointer;
}
.button__signUp {
  background: #ffffff;
  font-size: 2rem;
  color: #369970;
  font-weight: 500;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin-right: 2rem;
  cursor: pointer;
  width: 40%;
  transition: all 0.3s;
}
.button__signUp:hover {
  transform: scale(1.02);
}

.search-box {
  width: 100%;
  height: 4.5rem;
  max-width: 22rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  font-size: 1.6rem;
}
.search-box__input {
  position: absolute;
  width: 100%;
  height: 100%;
  flex: 1;
  outline: none;
  color: rgb(23, 23, 24);
  border-radius: 10rem;
  padding-left: 2rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}
.search-box__input:focus {
  border: 1px solid #369970;
}
.search-box__button {
  position: absolute;
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  flex: 1;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  outline: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  right: 1rem;
}
.search-box__button:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 56.25em) {
  .search-box {
    max-width: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .search-box {
    max-width: 5rem;
  }
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}
.login__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  height: 40%;
  padding-block: 2rem;
  max-width: 80rem;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
}
@media only screen and (max-width: 37.5em) {
  .login__container {
    border-radius: 0rem;
    width: 100%;
    margin-inline: 2rem;
    max-width: 40rem;
  }
}
.login__container__title {
  font-size: 2.5rem;
  color: #369970;
}
.login__container__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  background: #ffffff;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid #369970;
  padding: 5rem;
}
@media only screen and (max-width: 75em) {
  .login__container__left {
    border-radius: 0rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 70%;
  }
}
@media only screen and (max-width: 56.25em) {
  .login__container__left {
    border-radius: 0rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .login__container__left {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
  }
}
.login__container__left button {
  align-self: center;
  width: 50%;
}
.login__container__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login__container__form__input {
  height: 4rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  border-bottom: 1px solid #67d1bd;
}
.login__container__form__input:focus {
  border-radius: 1rem;
  outline: none;
  border: 1px solid #369970;
}
.login__container__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1rem;
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
@media only screen and (max-width: 75em) {
  .login__container__right {
    border-radius: 0rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 70%;
  }
}
@media only screen and (max-width: 56.25em) {
  .login__container__right {
    border-radius: 0rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .login__container__right {
    border-radius: 0rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
  }
}
.login__container__right__title {
  font-size: 4rem;
}
.login__container__right__text {
  font-size: 1.6rem;
  width: 80%;
  text-align: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
}
.register h1 {
  font-size: 2.5rem;
  color: #369970;
  font-weight: 500;
}
.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 2rem;
  background: rgb(23, 23, 24);
  max-width: 60rem;
}
@media only screen and (max-width: 75em) {
  .register__container {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .register__container {
    width: 100%;
  }
}
.register__container__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}
.register__container__form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.register__container__form__box label {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.register__container__form__box input {
  height: 4rem;
  padding: 0.5rem;
  border: 1px solid #369970;
  border-radius: 4px;
  font-size: 1.6rem;
  color: #ffffff;
  background: rgb(23, 23, 24);
}
.register__container__form__box input:focus {
  outline: none;
  border-color: #369970;
}
.register__container__form__boxButton {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sidebar {
  min-height: 100vh;
  max-height: 100vh;
  width: 25%;
  max-width: 23rem;
  border-right: 1px solid #369970;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(23, 23, 24);
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .sidebar {
    display: none;
  }
}
.sidebar__user {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #369970;
}
.sidebar__user span {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.sidebar__search {
  padding-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: center;
}
.sidebar__footer {
  border-top: 2px solid #369970;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
}

.navigation__leftBar__options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}
.navigation__leftBar__options__item {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 5rem;
  width: 100%;
  transition: all 2s ease-in-out;
}
.navigation__leftBar__options__item:hover {
  background: linear-gradient(150deg, #67d1bd 0%, #369970 54%);
  color: #ffffff;
}
.navigation__leftBar__options__item__icon {
  height: 2rem;
  margin-left: 1rem;
  width: 2rem;
  color: #ffffff;
}
.navigation__leftBar__options__item__text {
  font-size: 1.5rem;
  font-weight: 800;
  white-space: nowrap;
  color: #ffffff;
}

.navigation__mobile {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-width: 40rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 100;
  height: 6rem;
  background-color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .navigation__mobile {
    display: flex;
  }
}
.navigation__mobile__list {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border: 2px solid #369970;
  border-radius: 10rem;
  background-color: #3b3a3a;
  margin-bottom: 2rem;
  min-height: 6rem;
}
.navigation__mobile__list li {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 50%;
}
.navigation__mobile__list a {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 50%;
}
.navigation__mobile__list a:hover {
  color: #369970;
}

a.navigation__active {
  color: #369970;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}
.home__gridContainer {
  display: flex;
  flex-direction: column-reverse;
  min-width: 100%;
  min-height: 100vh;
  justify-content: space-between;
}
.home__gridContainer__notes {
  display: flex;
  flex-direction: column;
  min-width: 80rem;
  min-height: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #3b3a3a;
}
@media only screen and (max-width: 75em) {
  .home__gridContainer__notes {
    min-width: 60rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__gridContainer__notes {
    min-width: 40rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .home__gridContainer__notes {
    min-width: 100%;
  }
}
.home__gridContainer__notes h1 {
  font-size: 2.5rem;
  color: #67d1bd;
  font-weight: 400;
  padding-block: 2rem;
  padding-inline: 1rem;
}
.home__gridContainer__notes__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-bottom: 2rem;
  overflow-x: scroll;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .home__gridContainer__notes__slider {
    min-width: 100%;
    flex-direction: column;
  }
}
.home__gridContainer__stick {
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  min-height: 35rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #3b3a3a;
  height: 100%;
}
.home__gridContainer__stick h1 {
  font-size: 2.5rem;
  color: #67d1bd;
  font-weight: 400;
  padding-block: 2rem;
  padding-inline: 1rem;
}
.home__gridContainer__stick textarea {
  height: 100%;
  min-height: 20rem;
  max-height: 100%;
  min-width: 40rem;
  max-width: 40rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  border-bottom: 1px solid #67d1bd;
  background-color: transparent;
  color: #ffffff;
  resize: none;
  outline: none;
  border: none;
}
.home__gridContainer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  gap: 5rem;
  padding-block: 5rem;
}
@media only screen and (min-width: 112.5em) {
  .home__gridContainer__top {
    display: flex;
    flex-direction: row;
  }
}
.home__gridContainer__top h1 {
  font-size: 2.5rem;
  color: #67d1bd;
  font-weight: 400;
}
.home__gridContainer__trash {
  width: 100%;
  height: 40rem;
  background-image: url("https://images.unsplash.com/photo-1612952639810-3a4c7a25ac62?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__gridContainer__trash h1 {
  font-size: 6rem;
  color: #ffffff;
  padding-block: 2rem;
  padding-inline: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .home__gridContainer__trash h1 {
    text-align: center;
  }
}

.notes {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .notes {
    padding-left: 0rem;
  }
}
.notes__content {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 35rem;
  height: 100%;
  min-height: 100vh;
  border-right: 1px solid #369970;
}
@media only screen and (max-width: 37.5em) {
  .notes__content {
    min-width: 20rem;
  }
}
.notes__content__header {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}
.notes__content__addBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.notes__content__filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #369970;
}
.notes__content__filters p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}
.notes__edit {
  position: relative;
  min-width: 75%;
}

.note {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #369970;
  cursor: pointer;
}
.note__owner {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: #ffffff;
  padding: 0.5rem;
  background-color: #eb8577;
  border-radius: 2rem;
}
.note__owner__shared {
  background-color: #67d1bd;
}
.note__title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.note__content {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
  padding: 1rem;
  padding-top: 0;
  margin-top: 0;
}
.note__date {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
}
.note__materie {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #369970;
  border-radius: 5rem;
  text-align: center;
}
.note__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.note__tag {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  padding: 0.4rem;
  background-color: #3b3a3a;
  border-radius: 1rem;
  text-align: center;
}

.noteHome {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  position: relative;
  min-height: 25rem;
  min-width: 25rem;
  border: 1px solid #67d1bd;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgb(23, 23, 24);
}
.noteHome h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.noteHome__title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.noteHome__content {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
  padding: 1rem;
  padding-top: 0;
  margin-top: 0;
}
.noteHome__date {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
}
.noteHome__materie {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #369970;
  border-radius: 5rem;
  text-align: center;
}
.noteHome__bottom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.noteHome__tag {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  padding: 0.4rem;
  background-color: #3b3a3a;
  border-radius: 1rem;
  text-align: center;
}

.formNodes {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .formNodes {
    padding-inline: 0.5rem;
  }
}
.formNodes__buttonsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  align-self: flex-end;
}
.formNodes h1 {
  font-size: 2.5rem;
  color: #67d1bd;
  font-weight: 500;
  padding-block: 2rem;
}
.formNodes__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  padding-block: 2rem;
}
.formNodes__container__title {
  font-size: 2.5rem;
  color: #369970;
}
.formNodes__container__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  background: #ffffff;
  border-radius: 1rem;
  border: 1px solid #369970;
  padding: 5rem;
}
.formNodes__container__left button {
  align-self: center;
  width: 50%;
}
.formNodes__container__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .formNodes__container__form {
    margin-right: 2rem;
  }
}
.formNodes__container__form__input {
  height: 4rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Red Hat Display", sans-serif;
  border-bottom: 1px solid #67d1bd;
  background-color: transparent;
  color: #ffffff;
}
.formNodes__container__form__input::placeholder {
  color: #ffffff;
}
.formNodes__container__form__input:focus {
  outline: none;
}
@media only screen and (max-width: 37.5em) {
  .formNodes__container__form__input {
    width: 80%;
  }
}
.formNodes__container__form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 60rem;
  max-height: 60rem;
}
@media only screen and (max-width: 37.5em) {
  .formNodes__container__form textarea {
    max-width: 80%;
  }
}
.formNodes__container__form button {
  width: 15rem;
  align-self: flex-end;
}

.sharedNotes {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  min-width: 25rem;
}
@media only screen and (max-width: 56.25em) {
  .sharedNotes {
    padding-left: 0rem;
  }
}
.sharedNotes__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.sharedNotes__form h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.sharedNotes__form input {
  height: 4rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Red Hat Display", sans-serif;
  border: 1px solid #67d1bd;
  background-color: transparent;
  color: #ffffff;
  border-radius: 1rem;
}
.sharedNotes__form input::placeholder {
  color: #ffffff;
}
.sharedNotes__form input:focus {
  outline: none;
}
.sharedNotes__boxInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/*# sourceMappingURL=App.css.map */
